/* chat job offer styling */


.JO--form{
    margin-top: 1.2rem;
    width: 90%;
    border: 1px solid #adaeb4 ;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px #adacac;
}

.JO--title{
    background: rgb(36,0,0);
    background: linear-gradient(79deg, rgba(36,0,0,1) 0%, rgba(255,115,0,1) 0%, rgba(121,9,115,1) 100%);
    color: white;
    width: 100%;
    padding: 0.8rem;
    font-weight: 700;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.2rem;
    text-align: center;
}

.JO--select{
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 1.6rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background: rgb(36,0,0);
    background: linear-gradient(79deg, rgba(36,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(218,211,218,1) 0%, rgba(231,212,230,1) 100%, rgba(213,178,211,1) 100%, rgba(176,111,172,1) 100%, rgba(169,98,165,1) 100%, rgba(121,9,115,1) 100%);
}

.JO--submit-button {
    margin-top: 0.8rem;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    outline: none;
    border-radius: 0.8rem;
    width: 90%;
    border: 2px solid #4732b9;
    font-size: 1rem;
    padding: 0.2rem;
    font-weight: 600;
}

.JO--submit-button:hover{
    cursor: pointer;
    color: white;
    background: #4732b9;
}

.JO--input{
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 1.6rem;
    padding: 0.3rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    background: rgb(36,0,0);
    background: linear-gradient(79deg, rgba(36,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(218,211,218,1) 0%, rgba(231,212,230,1) 100%, rgba(213,178,211,1) 100%, rgba(176,111,172,1) 100%, rgba(169,98,165,1) 100%, rgba(121,9,115,1) 100%);
}

.JO--input:focus,
.JO--select:focus{
    outline: none;
}

.JO--input-city{
    width: 60%;
    vertical-align: middle;
}

.JO--remove-button{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 1.2rem;
    vertical-align: middle;
    margin-bottom: 1.6rem;
    background: linear-gradient(79deg, rgba(36,0,0,1) 0%, rgba(255,115,0,1) 0%, rgba(121,9,115,1) 100%);
    border: solid 2px rgb(143, 8, 109);
    color: white;
    border-radius: 0.5rem;
}

.JO--remove-button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
    border: 2px solid #4732b9;
}

.JO--add-button{
    padding: 0.2rem 1.2rem 0.6rem 1.2rem;
    font-size: 2rem;
    font-weight: 900;
    outline: none;
}

.MuiSlider-root{
    width: 80% !important;
    margin-left: 10%;
}

.JO--salary-input{
    width : 40%;
}

.JO--max-salary-input{
    margin-left: 0.3rem;
}

.JO--chcekbox-container{
    display: flex;
    align-items: center;
}

.JO--checkbox{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.JO--checkbox-title{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}

.JO--textarea{
    margin-left: 1rem;
    width: 90%;
    resize: none;
    outline: none;
    overflow: auto;
    background: linear-gradient(79deg, rgba(36,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(218,211,218,1) 0%, rgba(231,212,230,1) 100%, rgba(213,178,211,1) 100%, rgba(176,111,172,1) 100%, rgba(169,98,165,1) 100%, rgba(121,9,115,1) 100%);
    min-height: 7rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.JO--checkbox-title--tech,
.JO--checkbox--tech{
    margin-bottom: 1.6rem;
}

.JO--input--tech{
    width:45%;
}

.JO--select--tech{
    width: 40%
}
