* {
  word-break: keep-all;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

html,
body {
  max-height: 800px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.ant-list-item-meta-content {
  max-width: 500px;
}

.ant-list-item-meta-title {
  font-size: 20px !important;
}

.ant-list-item-meta-description {
  display: flex;
  color: black !important;
}

.suggest-answer--button{
    border-color: #031994;
    color: #031994;
    margin:0.5rem 0.7rem;
    border-radius: 20px;
    padding: 2px 8px;
    outline: none;
}
.suggest-answer--button:hover{
    background: #041a96;
    color: white;
    cursor: pointer;
}

