.avatar-container{
    opacity: 0;
}

.user--photo{
    width: 50%;
    padding-top: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    min-width: 130px;
    min-height: 130px;
}

.user--photo:hover{
    cursor: pointer;
}

.user--photo img{
    border-radius: 50%;
    border: solid black 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.userlogo--container{
    display: flex;
    justify-content: center;
}

.employee--info{
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.employee--name{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.employee--surname{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.employee--menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.employee--menu-item{
    margin-top: 1.2rem;
    font-weight: 700;
    color: white;
}

.employee--menu-item:hover{
    cursor: pointer;
    color: #b91bc7;
}